@import '../../assets/bindings';

.fullMenu {
  display: flex;
  margin-left: 220px;

  &--closed {
    margin-left: 5px;
  }
}

.collapseButton {
  width: 0;
  &Open {
    width: 350px;
  }
}

.button {
  margin-bottom: $default-spacer;
  &Open {
    margin-left: 175px;
  }
}

.menu {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 0;
  &Open {
    width: 350px;
  }
}

.input {
  margin-left: 10px;
  margin-right: 5px;
}

.drawer {
  max-width: 358px;
}