@import '../assets/bindings';

.Auth {
  &Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.textField {
  margin-left: $default-spacer;
  margin-right: $default-spacer;
  width: 200px;
}
